   SMTP_HOST=smtp.gmail.com
   SMTP_PORT=587
   SMTP_USER=anthonykeevy@gmail.com
   SMTP_PASS="sxcl wlea xbfg fysg"
   FROM_EMAIL=anthonykeevy@gmail.com
   FRONTEND_URL=http://localhost:5173
# Database Configuration
   DATABASE_URL=mssql+pyodbc://localhost/JobTrackerDB?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes

# API Keys
GEOSCAPE_API_KEY=9x4fpNyrr8VxVqWvPeKnuEWaH9vxgGxS


# Application Settings
DEBUG=True
SECRET_KEY=c6MJuLRUGuMHXsZuKs7DacIt0zymKxZ1KuCkJxXUNTU
ENVIRONMENT=development

# CORS Settings
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# Logging
LOG_LEVEL=INFO
LOG_FILE=api_calls.log